name: Shellcheck

on:
  workflow_call:
    inputs:
      files:
        required: true
        type: string
      cli_opts:
        required: false
        type: string
        default: " "

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        name: Checkout source code
      - name: Install shellcheck
        run: sudo apt update && sudo apt install shellcheck
      - name: Run ShellCheck
        run: shellcheck ${{ inputs.cli_opts }} ${{ inputs.files }}
