name: Shellcheck

on:
  workflow_call:
    inputs:
      files:
        required: true
        type: string
      cli_opts:
        required: false
        type: string
        default: " "

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        name: Checkout source code
      - name: Install shellcheck
        run: sudo apt update && sudo apt install shellcheck
      - name: Run ShellCheck
        run: shellcheck ${{ inputs.cli_opts }} ${{ inputs.files }}
